{{#partial "content"}}
    <div class="container">
        <img src="/images/thebig5.jpg" alt="Zookeepers" class="image-fluid map ml-5" id="thebig5" width="100%" height="400px">
    </div>
    <div class="card">

        <div class="container">

              <!--  id: <br>
                Species: <br>
                Age:
                <br>
                <a href="/edit-sight/" width="5px" height="5px">Edit Sighting</a><br>
                <a href="/delete-sight/" width="5px" height="5px">Delete Sighting</a>

                <br>
                <br>
                <br>-->

        </div>
    </div>

{{/partial}}
{{>layout.hbs}}