{{#partial "content"}}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <img src="img_avatar.png" alt="Avatar" style="width:100%">
                    <div class="container">
                        <h4><b>John Doe</b></h4>
                        <p>Architect & Engineer</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="img_avatar.png" alt="Avatar" style="width:100%">
                    <div class="container">
                        <h4><b>John Doe</b></h4>
                        <p>Architect & Engineer</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="img_avatar.png" alt="Avatar" style="width:100%">
                    <div class="container">
                        <h4><b>John Doe</b></h4>
                        <p>Architect & Engineer</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="img_avatar.png" alt="Avatar" style="width:100%">
                    <div class="container">
                        <h4><b>John Doe</b></h4>
                        <p>Architect & Engineer</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <img src="img_avatar.png" alt="Avatar" style="width:100%">
                    <div class="container">
                        <h4><b>John Doe</b></h4>
                        <p>Architect & Engineer</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="img_avatar.png" alt="Avatar" style="width:100%">
                    <div class="container">
                        <h4><b>John Doe</b></h4>
                        <p>Architect & Engineer</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="img_avatar.png" alt="Avatar" style="width:100%">
                    <div class="container">
                        <h4><b>John Doe</b></h4>
                        <p>Architect & Engineer</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="img_avatar.png" alt="Avatar" style="width:100%">
                    <div class="container">
                        <h4><b>John Doe</b></h4>
                        <p>Architect & Engineer</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container" id="endangered-species">
        <h1> List of the Endangered Animals Sighted</h1>
        {{#each endangeredInstance}}
            id:{{}}<br>
            Species:{{}}<br>
            Age: {{}}<br>
            Location:{{}}<br>
            Health:{{}}<br>
            Current population:{{}}
        {{/each}}

    </div>


{{/partial}}
{{>layout.hbs}}