{{#partial "content"}}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">

            </div>
        </div>
    </div>
    <div class="container" id="endangered-species">
        <h1> List of the Endangered Animals Sighted</h1>
        id:{{}}<br>
        Species:{{}}<br>
        Age: {{}}<br>
        Location:{{}}<br>
        Health:{{}}<br>
        Current population:{{}}
    </div>


{{/partial}}
{{>layout.hbs}}